In [51]:
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn import linear_model, preprocessing

In [52]:
#launch data file loading process
import os
os.system('data_file_load.py')

0

## Load the training and validation data in to lists

In [53]:
training_data_array = []
validation_data_array = []
malware_data_array = []

filename = "ADFA-LD/training_data.csv"
#filename = "B:\\Programming\\Python\\2431\\Malware_Detection_SysCallSeq\\ADFA-LD\\training_data.csv"
with open(filename, 'r') as fin:
    for line in fin:
        training_data_array.append(str(line))

filename = "ADFA-LD/validation_data.csv"        
#filename = "B:\\Programming\\Python\\2431\\Malware_Detection_SysCallSeq\\ADFA-LD\\validation_data.csv"
with open(filename, 'r') as fin:
    for line in fin:
        validation_data_array.append(str(line))

filename = "ADFA-LD/malware_data.csv"        
#filename = "B:\\Programming\\Python\\2431\\Malware_Detection_SysCallSeq\\ADFA-LD\\malware_data.csv"
with open(filename, 'r') as fin:
    for line in fin:
        malware_data_array.append(str(line))
        
# Removes the junk first line
validation_data_array = validation_data_array[1:]

Create the numpy arrays for each of the datasets.
These are now lists of strings, each string is the call sequence.

In [54]:
malware_data_array = np.array(malware_data_array)
validation_data_array = np.array(validation_data_array)
training_data_array = np.array(training_data_array)

zeros = np.zeros(training_data_array.shape[0])
training_data_array = np.vstack((training_data_array, zeros)).T

zeros = np.zeros(validation_data_array.shape[0])
validation_data_array = np.vstack((validation_data_array, zeros)).T

ones = np.ones(malware_data_array.shape[0])
malware_data_array = np.vstack((malware_data_array, ones)).T

length_all_data = 5950

Concatenate all data together

In [55]:
temp_data = np.concatenate((training_data_array, validation_data_array))
all_data = np.concatenate((temp_data, malware_data_array))

#extract 3 system call sequences, put in to array

Put all data in to a pandas dataframe with a malware tag or not, 1 for malware, 0 for not malware.

In [56]:
labels = ['Sequence', 'Malware']
df = pd.DataFrame(all_data)
df.columns = labels
df.head(10)

                                            Sequence Malware
0  6 6 63 6 42 120 6 195 120 6 6 114 114 1 1 252 ...     0.0
1  54 175 120 175 175 3 175 175 120 175 120 175 1...     0.0
2  6 11 45 33 192 33 5 197 192 6 33 5 3 197 192 1...     0.0
3  7 174 174 5 197 197 6 13 195 4 4 118 6 91 38 5...     0.0
4  11 45 33 192 33 5 197 192 6 33 5 3 197 192 192...     0.0
5  45 33 5 192 6 33 192 33 3 192 125 125 125 125 ...     0.0
6  6 11 33 5 6 6 197 5 192 125 125 125 125 258 19...     0.0
7  11 5 192 5 33 33 192 125 125 125 125 125 125 5...     0.0
8  6 6 195 5 6 91 3 6 5 6 3 6 6 6 6 6 195 5 6 6 5...     0.0
9  174 6 6 5 45 220 221 221 221 221 221 221 221 2...     0.0

## Get max number of system calls

In [57]:
all_seqs = np.array(df['Sequence'])
max_calls = 0
for line in all_seqs:
    x = list(map(int, line.split()))
    #max number of calls in a single sequence
    if len(x) > max_calls:
        max_calls = len(x)

In [58]:
call_dataframe = pd.DataFrame(index=range(length_all_data), columns=range(max_calls))
print('1')

1

## Split in to 3 seq cells

In [59]:
r = 0
for line in all_seqs:
    c = 0
    #print(line)
    x = list(map(int, line.split()))

    for i in range(len(x) - 3):
        arr = ' '.join(map(str, x[i:i + 3]))
        call_dataframe.at[r, c] = arr
        c += 1
    r += 1
print('here')

here

In [60]:
labels = []
for i in range(0, max_calls):
    labels.append(str(i))
call_dataframe.columns = labels
print(call_dataframe['0'])

0            6 6 63
1        54 175 120
2           6 11 45
3         7 174 174
4          11 45 33
           ...
5945     102 221 60
5946    168 168 102
5947       78 78 12
5948    175 174 174
5949          5 3 5
Name: 0, Length: 5950, dtype: object

In [61]:
# Replace NaN with -1
call_dataframe.fillna(str(-1), inplace=True)
# Add the malware column, target
target_strings = []
for entry in df['Malware']:
    p = str(entry)
    target_strings.append(p)
call_dataframe['Malware'] = pd.Series(target_strings, index=call_dataframe.index)
call_dataframe.head()

,0,1,2,3,4,5,6,7,8,9,...,4485,4486,4487,4488,4489,4490,4491,4492,4493,Malware
0,6 6 63,6 63 6,63 6 42,6 42 120,42 120 6,120 6 195,6 195 120,195 120 6,120 6 6,6 6 114,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,0.0
1,54 175 120,175 120 175,120 175 175,175 175 3,175 3 175,3 175 175,175 175 120,175 120 175,120 175 120,175 120 175,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,0.0
2,6 11 45,11 45 33,45 33 192,33 192 33,192 33 5,33 5 197,5 197 192,197 192 6,192 6 33,6 33 5,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,0.0
3,7 174 174,174 174 5,174 5 197,5 197 197,197 197 6,197 6 13,6 13 195,13 195 4,195 4 4,4 4 118,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,0.0
4,11 45 33,45 33 192,33 192 33,192 33 5,33 5 197,5 197 192,197 192 6,192 6 33,6 33 5,33 5 3,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,0.0

## One hot encoding

In [62]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
le = LabelEncoder()
onehot_df = call_dataframe.apply(le.fit_transform)
onehot_df.head(3)

,0,1,2,3,4,5,6,7,8,9,...,4485,4486,4487,4488,4489,4490,4491,4492,4493,Malware
0,1157,1063,1048,1019,818,74,1012,401,78,996,...,0,0,0,0,0,0,0,0,0,0
1,1064,297,83,297,286,677,320,315,69,291,...,0,0,0,0,0,0,0,0,0,0
2,1081,74,851,763,344,794,911,450,377,982,...,0,0,0,0,0,0,0,0,0,0

## Split dataframe into df_test and df_train 20-80 split

In [63]:
split = np.random.rand(len(onehot_df)) < .8
df_train = onehot_df[split]
df_test = onehot_df[~split]
df_train.head(4)

,0,1,2,3,4,5,6,7,8,9,...,4485,4486,4487,4488,4489,4490,4491,4492,4493,Malware
0,1157,1063,1048,1019,818,74,1012,401,78,996,...,0,0,0,0,0,0,0,0,0,0
1,1064,297,83,297,286,677,320,315,69,291,...,0,0,0,0,0,0,0,0,0,0
2,1081,74,851,763,344,794,911,450,377,982,...,0,0,0,0,0,0,0,0,0,0
3,1211,280,287,893,427,473,997,145,409,803,...,0,0,0,0,0,0,0,0,0,0

In [64]:
df_test.head(4)

,0,1,2,3,4,5,6,7,8,9,...,4485,4486,4487,4488,4489,4490,4491,4492,4493,Malware
27,842,1161,1101,559,1,6,14,137,4,1,...,0,0,0,0,0,0,0,0,0,0
28,815,537,527,551,1098,1097,656,1077,524,540,...,0,0,0,0,0,0,0,0,0,0
29,347,278,277,277,948,339,975,339,974,729,...,0,0,0,0,0,0,0,0,0,0
38,796,147,561,1125,1078,547,583,1083,585,545,...,0,0,0,0,0,0,0,0,0,0

## Split dataframes into X_train, Y_train, X_Test, Y_Test

In [65]:
df_train_target = df_train['Malware']
df_test_target = df_test['Malware']

df_train_features = df_train.loc[:, df_train.columns != 'Malware']
df_test_features = df_test.loc[:, df_test.columns != 'Malware']
#df_train_features.drop(labels, axis=1)
#df_test_features.drop(labels, axis=1)

df_test_features.head()

,0,1,2,3,4,5,6,7,8,9,...,4484,4485,4486,4487,4488,4489,4490,4491,4492,4493
27,842,1161,1101,559,1,6,14,137,4,1,...,0,0,0,0,0,0,0,0,0,0
28,815,537,527,551,1098,1097,656,1077,524,540,...,0,0,0,0,0,0,0,0,0,0
29,347,278,277,277,948,339,975,339,974,729,...,0,0,0,0,0,0,0,0,0,0
38,796,147,561,1125,1078,547,583,1083,585,545,...,0,0,0,0,0,0,0,0,0,0
47,409,962,1000,779,770,1027,937,787,858,341,...,0,0,0,0,0,0,0,0,0,0

## Import ML Packages, set xbg DMatrices

In [66]:
import xgboost as xgb
import sklearn.metrics as m
import math as mathlib
# mod = xgb.XGBRegressor(
#     gamma=1,                 
#     learning_rate=0.01,
#     max_depth=3,
#     n_estimators=10000,                                                                    
#     subsample=0.8,
#     random_state=34 

# )

In [67]:
#Dataframe to dmatrix
dm_train = xgb.DMatrix(data=df_train_features.values, label=df_train_target.values)
dm_test = xgb.DMatrix(data=df_test_features.values)

In [68]:
from sklearn.metrics import accuracy_score
model = xgb.XGBClassifier(objective ='reg:linear', colsample_bytree = 0.3, learning_rate = 0.1,
                max_depth = 5, alpha = 10, n_estimators = 10)
model.fit(df_train_features.values, df_train_target.values)
y_pred = model.predict(df_test_features.values)
predictions = [round(value) for value in y_pred]
acc = accuracy_score(df_test_target, predictions)
print("Accuracy: ", acc)

[19:36:13] WARNING: C:/Jenkins/workspace/xgboost-win64_release_0.90/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
Accuracy:  0.903143585386576